#!/usr/bin/make -f

export PYBUILD_NAME=kotonoha

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_configure:
	dh_auto_configure --buildsystem=pybuild

override_dh_auto_test:
	@echo "Tests run separately; skipping duplicate package-build tests."

override_dh_clean:
	dh_clean

override_dh_install:
	dh_install
	install -Dm644 src/kotonoha/assets/icon.png debian/kotonoha/usr/share/pixmaps/kotonoha.png
